.fsm--toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 6%;
  border-top: 1px solid #aaa;
  font-family: monospace;
}

.fsm--toolbar__button {
  display: inline-flex;
  padding: 2px;
}
